# Creating tables and importing csvs

Creating tables and importing csvs
Create table aisles (aisle_id SERIAL PRIMARY KEY, aisle TEXT);

COPY aisles FROM '/home/ubuntu/aisles.csv' DELIMITER ',' CSV HEADER;


Create table departments (department_id SERIAL PRIMARY KEY, department TEXT);

COPY departments FROM '/home/ubuntu/departments.csv' DELIMITER ',' CSV HEADER;


Create table orders (order_id SERIAL PRIMARY KEY, user_id INT, eval_set TEXT, order_number INT, order_dow INT, order_hour_of_day INT, days_since_prior_order DOUBLE PRECISION);

COPY orders FROM '/home/ubuntu/orders.csv' DELIMITER ',' CSV HEADER;


Create table products (product_id SERIAL PRIMARY KEY, product_name TEXT, aisle_id INT references aisles, department_id INT references departments);

COPY products FROM '/home/ubuntu/products.csv' DELIMITER ',' CSV HEADER;


Create table order_products_train (order_id INT references orders, product_id INT references products, add_to_cart_order INT, reordered INT);

COPY order_products_train FROM '/home/ubuntu/order_products__train.csv' DELIMITER ',' CSV HEADER;


Create table order_products_prior (order_id INT references orders, product_id INT references products, add_to_cart_order INT, reordered INT);

COPY order_products_prior FROM '/home/ubuntu/order_products__prior.csv' DELIMITER ',' CSV HEADER;

# Creating category groups

Alter table products add column category TEXT;

select p.product_id, p.product_name, p.aisle_id, a.aisle, p.department_id, d.department, p.category into products_full from products p join aisles a on a.aisle_id=p.aisle_id join departments d on d.department_id=p.department_id group by p.product_id, p.product_name, p.aisle_id, a.aisle, p.department_id, d.department, p.category;


Update products_full set category = 'Condoms' where department_id = 2 and product_name like '%Condoms%';
Update products_full set category = 'Vitamins' wheredepartment_id = 2 and product_name like '%Vitamin%';
Update products_full set category = 'Wines' where department_id = 2 and product_name like '%Wine%';
Update products_full set category = 'Flours' where department_id = 2 and product_name like '%Flour%';
Update products_full set category = 'Coffee' where department_id = 2 and product_name like '%Coffee%';
Update products_full set category = 'Creamers' where department_id = 2 and product_name like '%Creamer%';


Update products_full set category = 'Pies' where department_id = 3 and product_name like '%Pie%';
Update products_full set category = 'Cakes' where department_id = 3 and product_name like '%Cake%';
Update products_full set category = 'Cookies' where department_id = 3 and product_name like '%Cookie%';


Update products_full set category = 'Onions' where department_id = 4 and product_name like '%Onion%';
Update products_full set category = 'Peas' where department_id = 4 and product_name like '%Peas%';
Update products_full set category = 'Cucumbers' where department_id = 4 and product_name like '%Cucumber%';
Update products_full set category = 'Lettuce' where department_id = 4 and product_name like '%Lettuce%';
Update products_full set category = 'Tomatoes' where department_id = 4 and product_name like '%Tomato%';
Update products_full set category = 'Potatoes' where department_id = 4 and product_name like '%Potato%';
Update products_full set category = 'Grapes' where department_id = 4 and product_name like '%Grapes%';
Update products_full set category = 'Peppers' where department_id = 4 and product_name like '%Pepper%';
Update products_full set category = 'Carrots' where department_id = 4 and product_name like '%Carrot%';
Update products_full set category = 'Lemons' where department_id = 4 and product_name like '%Lemon%';
Update products_full set category = 'Avocados' where department_id = 4 and product_name like '%Avocado%';
Update products_full set category = 'Apples' where department_id = 4 and product_name like '%Apple%';
Update products_full set category = 'Clementines' where department_id = 4 and product_name like '%Clementine%';
Update products_full set category = 'Cauliflowers' where department_id = 4 and product_name like '%Cauliflower%';
Update products_full set category = 'Mushrooms' where department_id = 4 and product_name like '%Mushroom%';
Update products_full set category = 'Salads' where department_id = 4 and product_name like '%Salad%';
Update products_full set category = 'Pears' where department_id = 4 and product_name like '%Pear%';
Update products_full set category = 'Brussels Sprouts' where department_id = 4 and product_name like '%Brussels Sprout%';
Update products_full set category = 'Tangerines' where department_id = 4 and product_name like '%Tangerine%';
Update products_full set category = 'Corn' where department_id = 4 and product_name like '%Corn%';
Update products_full set category = 'Squash' where department_id = 4 and product_name like '%Squash%';
Update products_full set category = 'Garlic' where department_id = 4 and product_name like '%Garlic%';
Update products_full set category = 'Celery' where department_id = 4 and product_name like '%Celery%';
Update products_full set category = 'Cabbage' where department_id = 4 and product_name like '%Cabbage%';
Update products_full set category = 'Kale' where department_id = 4 and product_name like '%Kale%';
Update products_full set category = 'Raspberries' where department_id = 4 and product_name like '%Raspberries%';
Update products_full set category = 'Oranges' where department_id = 4 and product_name like '%Orange%';
Update products_full set category = 'Melons' where department_id = 4 and product_name like '%Melon%';
Update products_full set category = 'Limes' where department_id = 4 and product_name like '%Lime%';



Update products_full set category = 'Rums' where department_id = 5 and aisle_id = 124 and product_name like '%Rum%';
Update products_full set category = 'Vodkas' where department_id = 5 and aisle_id = 124 and product_name like '%Vodka%';
Update products_full set category = 'Whiskeys' where department_id = 5 and aisle_id = 124 and product_name like '%Whisky%';
Update products_full set category = 'Bourbons' where department_id = 5 and aisle_id = 124 and product_name like '%Bourbon%';
Update products_full set category = 'Tequilas' where department_id = 5 and aisle_id = 124 and product_name like '%Tequila%';
Update products_full set category = 'Scotches' where department_id = 5 and aisle_id = 124 and product_name like '%Scotch%';
Update products_full set category = 'Gins' where department_id = 5 and aisle_id = 124 and product_name like '%Gin%';
Update products_full set category = 'Liqueurs' where department_id = 5 and aisle_id = 124 and product_name like '%Liqueur%';
Update products_full set category = 'Whiskeys' where department_id = 5 and aisle_id = 124 and product_name like '%Whiskey%';
Update products_full set category = 'Brandys' where department_id = 5 and aisle_id = 124 and product_name like '%Brandy%';
Update products_full set category = 'Cognacs' where department_id = 5 and aisle_id = 124 and product_name like '%Cognac%';


Update products_full set category = 'Vinegars' where department_id = 6 and product_name like '%Vinegar%';
Update products_full set category = 'Noodles' where department_id = 6 and product_name like '%Noodle%';
Update products_full set category = 'Salsas' where department_id = 6 and product_name like '%Salsa%';
Update products_full set category = 'Rices' where department_id = 6 and product_name like '%Rice%';
Update products_full set category = 'Soy Sauces' where department_id = 6 and product_name like '%Soy Sauce%';
Update products_full set category = 'Misos' where department_id = 6 and product_name like '%Miso%';
Update products_full set category = 'Curry' where department_id = 6 and product_name like '%Curry%';
Update products_full set category = 'Ramen' where department_id = 6 and product_name like '%Ramen%';
Update products_full set category = 'Enchilada' where department_id = 6 and product_name like '%Enchilada%';
Update products_full set category = 'Hot Sauces' where department_id = 6 and product_name like '%Hot Sauce%';
Update products_full set category = 'Chili Sauce' where department_id = 6 and product_name like '%Chili Sauce%';
Update products_full set category = 'Chili Paste' where department_id = 6 and product_name like '%Chili Paste%';
Update products_full set category = 'Teriyaki' where department_id = 6 and product_name like '%Teriyaki%';
Update products_full set category = 'Chipotle Peppers' where department_id = 6 and product_name like '%Adobo Sauce%';
Update products_full set category = 'Barbecue Sauces' where department_id = 6 and product_name like '%Barbecue Sauce%';
Update products_full set category = 'Barbecue Sauces' where department_id = 6 and product_name like '%BBQ Sauce%';
Update products_full set category = 'Matzo' where department_id = 6 and product_name like '%Matzo%';
Update products_full set category = 'Chutneys' where department_id = 6 and product_name like '%Chutney%';
Update products_full set category = 'Matzo' where department_id = 6 and product_name like '%MATZO%';



Update products_full set category = 'Quinoa' where department_id = 9 and aisle_id = 63 and product_name like '%Quinoa%';
Update products_full set category = 'Rices' where department_id = 9 and aisle_id = 63 and product_name like '%Rice%';
Update products_full set category = 'Beans' where department_id = 9 and aisle_id = 63 and product_name like '%Bean%';
Update products_full set category = 'Lentils' where department_id = 9 and aisle_id = 63 and product_name like '%Lentil%';
Update products_full set category = 'Couscous' where department_id = 9 and aisle_id = 63 and product_name like 
'%Couscous%';
Update products_full set category = 'Farro' where department_id = 9 and aisle_id = 63 and product_name like '%Farro%';
Update products_full set category = 'Barley' where department_id = 9 and aisle_id = 63 and product_name like '%Barley%';
Update products_full set category = 'Polenta' where department_id = 9 and aisle_id = 63 and product_name like '%Polenta%';


Update products_full set category = 'Beef' where department_id = 12 and product_name like '%Steak%';
Update products_full set category = 'Beef' where department_id = 12 and product_name like '%Beef%';
Update products_full set category = 'Pork' where department_id = 12 and product_name like '%Pork%';
Update products_full set category = 'Chicken' where department_id = 12 and product_name like '%Chicken%';
Update products_full set category = 'Turkey' where department_id = 12 and product_name like '%Turkey%';
Update products_full set category = 'Duck' where department_id = 12 and product_name like '%Duck%';
Update products_full set category = 'Lamb' where department_id = 12 and product_name like '%Lamb%';
Update products_full set category = 'Salmon' where department_id = 12 and product_name like '%Salmon%';
Update products_full set category = 'Tuna' where department_id = 12 and product_name like '%Tuna%';
Update products_full set category = 'Ham' where department_id = 12 and product_name like '%Ham%';
Update products_full set category = 'Sausage' where department_id = 12 and product_name like '%Sausage%';
Update products_full set category = 'Bacon' where department_id = 12 and product_name like '%Bacon%';
Update products_full set category = 'Crab' where department_id = 12 and product_name like '%Crab%';
Update products_full set category = 'Shrimp' where department_id = 12 and product_name like '%Shrimp%';
Update products_full set category = 'Tilapia' where department_id = 12 and product_name like '%Tilapia%';
Update products_full set category = 'Herring' where department_id = 12 and product_name like '%Herring%';


Update products_full set category = 'Hot Sauces' where department_id = 13 and product_name like '%Hot Sauce%';
Update products_full set category = 'Flours' where department_id = 13 and product_name like '%Flour%';
Update products_full set category = 'Salsas' where department_id = 13 and product_name like '%Salsa%';



Update products_full set category = 'dry pasta' where department_id = 21 and product_name like '%Pasta%';
Update products_full set category = 'pasta sauce' where department_id = 21 and product_name like '%Pasta Sauce%';
Update products_full set category = 'Cookies' where department_id = 21 and product_name like '%Cookie%';
Update products_full set category = 'Salads' where department_id = 21 and product_name like '%Salad%';
Update products_full set category = 'Mushrooms' where department_id = 21 and product_name like '%Mushroom%';
Update products_full set category = 'Peppers' where department_id = 21 and product_name like '%Pepper%';
Update products_full set category = 'Salsas' where department_id = 21 and product_name like '%Salsa%';

# Creating orders_products tables

Select o.order_id, op.product_id, op.add_to_cart_order, op.reordered, o.user_id, o.order_number, o.order_dow, o.order_hour_of_day, o.days_since_prior_order into order_products_prior_2
from order_products_prior op join orders o on o.order_id = op.order_id
group by o.order_id, op.product_id, op.add_to_cart_order, op.reordered, o.user_id, o.order_number, o.order_dow, o.order_hour_of_day, o.days_since_prior_order;


Select o.order_id, op.product_id, op.add_to_cart_order, op.reordered, o.user_id, o.order_number, o.order_dow, o.order_hour_of_day, o.days_since_prior_order into order_products_train_2
from order_products_train op join orders o on o.order_id = op.order_id
group by o.order_id, op.product_id, op.add_to_cart_order, op.reordered, o.user_id, o.order_number, o.order_dow, o.order_hour_of_day, o.days_since_prior_order;



select o.product_id, o.user_id into user_product
from order_products_prior_2 o join (select user_id from order_products_train_2 group by user_id) a on a.user_id = o.user_id
group by o.product_id, o.user_id;



select o.order_id, o.product_id, o.add_to_cart_order, o.reordered, o.user_id, o.order_number, o.order_dow, o.order_hour_of_day, o.days_since_prior_order, p.product_name, p.aisle, p.department, p.category into order_products_prior_3 from order_products_prior_2 o join products_full p on p.product_id = o.product_id group by o.order_id, o.product_id, o.add_to_cart_order, o.reordered, o.user_id, o.order_number, o.order_dow, o.order_hour_of_day, o.days_since_prior_order, p.product_name, p.aisle, p.department, p.category;


select o.order_id, o.product_id, o.add_to_cart_order, o.reordered, o.user_id, o.order_number, o.order_dow, o.order_hour_of_day, o.days_since_prior_order, p.product_name, p.aisle, p.department, p.category into order_products_train_3 from order_products_train_2 o join products_full p on p.product_id = o.product_id group by o.order_id, o.product_id, o.add_to_cart_order, o.reordered, o.user_id, o.order_number, o.order_dow, o.order_hour_of_day, o.days_since_prior_order, p.product_name, p.aisle, p.department, p.category;

SELECT * into orders_2 FROM orders WHERE eval_set <> 'test';

select user_id into user_sample from orders_2 WHERE eval_set = 'train' group by user_id order by random() limit 20000;

SELECT o.order_id, o.user_id, o.eval_set, o.order_number, o.order_dow, o.order_hour_of_day, o.days_since_prior_order into orders_sample
FROM orders_2 o JOIN user_sample u on u.user_id = o.user_id
GROUP BY o.order_id, o.user_id, o.eval_set, o.order_number, o.order_dow, o.order_hour_of_day, o.days_since_prior_order;

SELECT op.order_id, op.product_id, op.add_to_cart_order, op.reordered INTO order_products_prior_sample
FROM order_products_prior op JOIN orders_sample o on o.order_id = op.order_id
GROUP BY op.order_id, op.product_id, op.add_to_cart_order, op.reordered;

SELECT op.order_id, op.product_id, op.add_to_cart_order, op.reordered INTO order_products_train_sample
FROM order_products_train op JOIN orders_sample o on o.order_id = op.order_id
GROUP BY op.order_id, op.product_id, op.add_to_cart_order, op.reordered;